@import "partials/base";
@import "partials/layout";
@import "partials/typography";
@import "partials/footer";
@import "partials/homepage";
@import "partials/hotel";

.modal-background .modal-content {
    background-color: $color-secondary;
    color: #fff;
    border-radius: 25px;
    overflow: hidden;

    .close {
        color: white !important;
    }
}
