.jumbotron-img {
    background-image: url("../../images/bergen.jpg");
    background-size: cover;
    height: 90vh;
    margin-bottom: 0px;
    color: white;
    display: flex;
    align-items: center;
}

h2 {
    color: $color-primary;
    text-align: center;
}

.jumbotron-content {
    text-align: center;
}

.landingpage-title {
    font-weight: 900;
    font-size: 78px;
}

.landingpage-subtitle {
    font-size: 48px;
    color: white;
}

.rounded-corners {
    border-radius: 25px;
}

.search-max-width {
    max-width: 700px;
    margin: 0 auto;
}

.overlay{
    background-color: rgba($color-primary, 0.4);
}

@media only screen and (max-width: 824px) {
   .landingpage-title {
    font-weight: 900;
    font-size: 45px;
}

.landingpage-subtitle {
    font-size: 32px;
    color: white;
}
}