.primary-button {
    border-radius: 25px;
    background-color: $color-secondary;
    color: white;

    &:hover {
        background-color: $color-primary;
    }
}
.secondary-button {
    border-radius: 25px;
    background-color: white;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    font-weight: 700;
    &:hover {
        background-color: $color-primary;
    }
}

.primary-button-accordion {
    border: none;
    background-color: $color-secondary;
    color: white;

    &:hover {
        background-color: $color-primary;
    }
}

.accordion-title {
    background-color: $color-secondary;
    border: none;
    color: white;
    &:hover {
        background-color: $color-secondary;
    }
}

.accordion-link {
    color: white !important;
    text-decoration: none !important;
    background-color: $color-secondary;

    &:hover {
        background-color: $color-secondary;
        color: white !important;
    }

    &:focus {
        box-shadow: none !important;
    }
}

.btn {
    border-radius: 25px !important;
}
.btn-sm {
    border-radius: none
}

.custom-file-upload {
    border-radius: 25px;
    background-color: $color-secondary;
    color: white;
    padding: 6px 12px;
    &:hover {
        background-color: $color-primary;
    }
    cursor: pointer;
}

#file-upload{
    display: none;
}